@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/awesome-blue-space-wallpaper-32332-1920x1200-px-hdwallsource-3.jpg);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  height: 100vh;
  max-width: 640px;
  margin: 50px auto;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.titulo {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 6rem;
}
.relogio {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 4rem;
  
}
.botao {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  transition: 0.5s;
}
.botao:hover {
  border: 1px solid #fff;
  margin: 0 1rem;
  transition: 0.5s;
  border-radius: 1rem;
}



